.abtBox {
    margin: 25px;
    padding: 25px;
    font-size: large;
    border: solid whitesmoke 5px;
    color: 	#2F4F4F;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.abtBttnBox {
    margin: 10px;
    padding: 10px;
    border: solid whitesmoke 5px;
    color: 	#2F4F4F;
    display: inline-block;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.abtBox:hover {
    background-color: #00308F;
    color: whitesmoke;
}

.abtBttnBox:hover {
    background-color: #00308F;
    color: goldenrod;
}