.bPassBox {
    margin: 15px;
    padding: 15px;
    color: whitesmoke;
    /* border: solid whitesmoke 5px; */
    /* display: flex;
    flex-direction: column; */
}

.bPassHead {
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    border: solid whitesmoke 5px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.bPassDtlOutBox {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: solid whitesmoke 5px;
    background-color: #00308F;
    justify-content: space-between;
}

.bPassDtlInBox {
    margin: 10px;
    padding: 10px;
    border: solid whitesmoke 3px;
    background-color: #00308F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1200px;
}

.bPassDtl {
    margin: 10px;
    padding: 10px;
    border: solid whitesmoke 3px;
    font-size: xx-large;
    color: 	whitesmoke;
    background-color: #00308F;
    /* transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bPassbttn {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.pbPassCode {
    margin: 10px;
    padding: 10px;
    float: right;
}

/* .bPassDtl:hover {
    background-color: #00308F;
    color: whitesmoke;
} */