.cnctBox {
    margin: 20px;
    padding: 20px;
    border: solid whitesmoke 5px;
    display: flex;
    flex-direction: column;
}

.conHeadBox {
    margin: 10px;
    padding: 10px;
    border: solid whitesmoke 5px;
    color: 	#ffdf00;
    display: flex;
    font-size: x-large;
}

.conDtlBox {
    margin: 5px;
    padding: 5px;
    border: solid whitesmoke 2px;
    color: 	#2F4F4F;
    display: flex;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear;
    font-size: x-large;
    justify-content: space-evenly;
    align-items: center;
}

.conInBox {
    margin: 5px;
    padding: 5px;
    border: solid whitesmoke 2px;
    color: 	#2F4F4F;
    display: flex;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear;
    width: 480px;
    /* font-size: x-large; */
}
.conComBox {
    margin: 5px;
    padding: 5px;
    border: solid whitesmoke 2px;
    color: 	#2F4F4F;
    display: flex;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: linear;
    width: 500px;

      
    /* font-size: x-large; */
}

.conInBox:hover,
.conComBox:hover,
/* .cnctBox:hover, */
.conDtlBox:hover {
    background-color: #00308F;
    color: #ffdf00;
  }