.desPlnts {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  scroll-snap-type: y mandatory;
}

.desHead {
  margin: 15px;
  padding: 15px;
  border: solid whitesmoke 5px;
  color: whitesmoke;
  font-size: XX-large;
  display: inline-block;
}
  
.desPlnts > * {
  margin: 10px;
  padding: 10px;
  border: solid whitesmoke 5px;
  color: 	#2F4F4F;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
 
}
  
.desPlntsText {
  font-size: large;
  max-width: 600px;
  scroll-snap-align: start;
}

.desBttn {
  margin: 5px;
  padding: 5px;
  border: solid whitesmoke 2px;
  color: 	#2F4F4F;
  display: inline-block;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.desPlntsText:hover {
  background-color: #00308F;
  color: whitesmoke;
}

.desBttn:hover {
  background-color: #00308F;
  color: goldenrod;
}