.bttnBox {
    margin: 10px;
    padding: 10px;
    display: flex;
    border: solid whitesmoke 5px;
    justify-content: space-around;
    align-items: center;
}

.headBox {
    margin:  10px;
    padding: 10px;
    border: solid whitesmoke 5px;
    color: whitesmoke;
    font-size: xx-large;

}

.itemBox {
    display: flex table;

    /* justify-content: space-around; */
    /* align-items: center; */
    margin: 10px;
    padding: 10px;
    /* border: solid whitesmoke 5px; */
    /* justify-content: center;
    align-items: center; */

}

.itemCardBttn {
    display: flex;
    justify-content: space-around;
}

.itemBox {
    /* text-align: center; */
    /* width: 20%; */
    padding: 25px;
    /* margin: 55px; */
    float: left;
}