.abtUsBox {
    margin: 25px;
    padding: 25px;
    display: table;

}

.abtUsInBox {
    border: solid silver 5px;
    color: black;
    text-align: center;
    width: 40%;
    padding: 25px;
    margin: 25px;
    float: left;
}