.desPlnts {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }
  
  .desPlnts > * {
    border: solid silver 5px;
    color: black;
    /* justify-content: space-between; */
  
  }
  
  .desPlntsText {
    font-size: large;
    max-width: 600px;
  }