/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles here */

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

/* #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
} */

/* .rocket {
  height: 60px;
  width: 60px;
} */

#copyright {
  text-align: center;
  position: bottom;
}

* {
  box-sizing: border-box;
}

/* source-code https://codepen.io/wheresdara/pen/wvXBpwa */

body {
  background-color: white
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #ffdf00, 25vw -41vh 0px 0px #ffdf00,
    -20vw 49vh 0px 1px #ffdf00, 5vw 40vh 1px 1px #ffdf00,
    29vw 19vh 1px 0px #ffdf00, -44vw -13vh 0px 0px #ffdf00,
    46vw 41vh 0px 1px #ffdf00, -3vw -45vh 0px 1px #ffdf00,
    47vw 35vh 1px 0px #ffdf00, 12vw -8vh 1px 0px #ffdf00,
    -34vw 48vh 1px 1px #ffdf00, 32vw 26vh 1px 1px #ffdf00,
    32vw -41vh 1px 1px #ffdf00, 0vw 37vh 1px 1px #ffdf00,
    34vw -26vh 1px 0px #ffdf00, -14vw -49vh 1px 0px #ffdf00,
    -12vw 45vh 0px 1px #ffdf00, -44vw -33vh 0px 1px #ffdf00,
    -13vw 41vh 0px 0px #ffdf00, -36vw -11vh 0px 1px #ffdf00,
    -23vw -24vh 1px 0px #ffdf00, -38vw -27vh 0px 1px #ffdf00,
    16vw -19vh 0px 0px #ffdf00, 28vw 33vh 1px 0px #ffdf00,
    -49vw -4vh 0px 0px #ffdf00, 16vw 32vh 0px 1px #ffdf00,
    36vw -18vh 1px 0px #ffdf00, -25vw -30vh 1px 0px #ffdf00,
    -23vw 24vh 0px 1px #ffdf00, -2vw -35vh 1px 1px #ffdf00,
    -25vw 9vh 0px 0px #ffdf00, -15vw -34vh 0px 0px #ffdf00,
    -8vw -19vh 1px 0px #ffdf00, -20vw -20vh 1px 1px #ffdf00,
    42vw 50vh 0px 1px #ffdf00, -32vw 10vh 1px 0px #ffdf00,
    -23vw -17vh 0px 0px #ffdf00, 44vw 15vh 1px 0px #ffdf00,
    -40vw 33vh 1px 1px #ffdf00, -43vw 8vh 0px 0px #ffdf00,
    -48vw -15vh 1px 1px #ffdf00, -24vw 17vh 0px 0px #ffdf00,
    -31vw 50vh 1px 0px #ffdf00, 36vw -38vh 0px 1px #ffdf00,
    -7vw 48vh 0px 0px #ffdf00, 15vw -32vh 0px 0px #ffdf00,
    29vw -41vh 0px 0px #ffdf00, 2vw 37vh 1px 0px #ffdf00,
    7vw -40vh 1px 1px #ffdf00, 15vw 18vh 0px 0px #ffdf00,
    25vw -13vh 1px 1px #ffdf00, -46vw -12vh 1px 1px #ffdf00,
    -18vw 22vh 0px 0px #ffdf00, 23vw -9vh 1px 0px #ffdf00,
    50vw 12vh 0px 1px #ffdf00, 45vw 2vh 0px 0px #ffdf00,
    14vw -48vh 1px 0px #ffdf00, 23vw 43vh 0px 1px #ffdf00,
    -40vw 16vh 1px 1px #ffdf00, 20vw -31vh 0px 1px #ffdf00,
    -17vw 44vh 1px 1px #ffdf00, 18vw -45vh 0px 0px #ffdf00,
    33vw -6vh 0px 0px #ffdf00, 0vw 7vh 0px 1px #ffdf00,
    -10vw -18vh 0px 1px #ffdf00, -19vw 5vh 1px 0px #ffdf00,
    1vw 42vh 0px 0px #ffdf00, 22vw 48vh 0px 1px #ffdf00,
    39vw -8vh 1px 1px #ffdf00, -6vw -42vh 1px 0px #ffdf00,
    -47vw 34vh 0px 0px #ffdf00, -46vw 19vh 0px 1px #ffdf00,
    -12vw -32vh 0px 0px #ffdf00, -45vw -38vh 0px 1px #ffdf00,
    -28vw 18vh 1px 0px #ffdf00, -38vw -46vh 1px 1px #ffdf00,
    49vw -6vh 1px 1px #ffdf00, -28vw 18vh 1px 1px #ffdf00,
    10vw -24vh 0px 1px #ffdf00, -5vw -11vh 1px 1px #ffdf00,
    33vw -8vh 1px 0px #ffdf00, -16vw 17vh 0px 0px #ffdf00,
    18vw 27vh 0px 1px #ffdf00, -8vw -10vh 1px 1px #ffdf00;

  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */

  box-shadow: 24vw 9vh 1px 0px #ffdf00, 12vw -24vh 0px 1px #ffdf00,
    -45vw -22vh 0px 0px #ffdf00, -37vw -40vh 0px 1px #ffdf00,
    29vw 19vh 0px 1px #ffdf00, 4vw -8vh 0px 1px #ffdf00,
    -5vw 21vh 1px 1px #ffdf00, -27vw 26vh 1px 1px #ffdf00,
    -47vw -3vh 1px 1px #ffdf00, -28vw -30vh 0px 1px #ffdf00,
    -43vw -27vh 0px 1px #ffdf00, 4vw 22vh 1px 1px #ffdf00,
    36vw 23vh 0px 0px #ffdf00, -21vw 24vh 1px 1px #ffdf00,
    -16vw 2vh 1px 0px #ffdf00, -16vw -6vh 0px 0px #ffdf00,
    5vw 26vh 0px 0px #ffdf00, -34vw 41vh 0px 0px #ffdf00,
    1vw 42vh 1px 1px #ffdf00, 11vw -13vh 1px 1px #ffdf00,
    48vw -8vh 1px 0px #ffdf00, 22vw -15vh 0px 0px #ffdf00,
    45vw 49vh 0px 0px #ffdf00, 43vw -27vh 1px 1px #ffdf00,
    20vw -2vh 0px 0px #ffdf00, 8vw 22vh 0px 1px #ffdf00,
    39vw 48vh 1px 1px #ffdf00, -21vw -11vh 0px 1px #ffdf00,
    -40vw 45vh 0px 1px #ffdf00, 11vw -30vh 1px 0px #ffdf00,
    26vw 30vh 1px 0px #ffdf00, 45vw -29vh 0px 1px #ffdf00,
    -2vw 18vh 0px 0px #ffdf00, -29vw -45vh 1px 0px #ffdf00,
    -7vw -27vh 1px 1px #ffdf00, 42vw 24vh 0px 0px #ffdf00,
    45vw -48vh 1px 0px #ffdf00, -36vw -18vh 0px 0px #ffdf00,
    -44vw 13vh 0px 1px #ffdf00, 36vw 16vh 0px 1px #ffdf00,
    40vw 24vh 0px 0px #ffdf00, 18vw 11vh 0px 0px #ffdf00,
    -15vw -23vh 1px 0px #ffdf00, -24vw 48vh 0px 1px #ffdf00,
    27vw -45vh 1px 0px #ffdf00, -2vw -24vh 0px 1px #ffdf00,
    -15vw -28vh 0px 0px #ffdf00, -43vw 13vh 1px 0px #ffdf00,
    7vw 27vh 1px 0px #ffdf00, 47vw 5vh 0px 0px #ffdf00,
    -45vw 15vh 1px 1px #ffdf00, -5vw -28vh 0px 1px #ffdf00,
    38vw 25vh 1px 1px #ffdf00, -39vw -1vh 1px 0px #ffdf00,
    5vw 0vh 1px 0px #ffdf00, 49vw 13vh 0px 0px #ffdf00,
    48vw 10vh 0px 1px #ffdf00, 19vw -28vh 0px 0px #ffdf00,
    4vw 7vh 0px 0px #ffdf00, 21vw 21vh 1px 1px #ffdf00,
    -15vw -15vh 0px 1px #ffdf00, -6vw -42vh 1px 0px #ffdf00,
    -15vw 48vh 1px 1px #ffdf00, -23vw 25vh 1px 1px #ffdf00,
    -48vw 25vh 0px 1px #ffdf00, -31vw -19vh 0px 1px #ffdf00,
    4vw 37vh 1px 1px #ffdf00, -43vw 28vh 0px 0px #ffdf00,
    3vw -25vh 0px 1px #ffdf00, -39vw 14vh 0px 1px #ffdf00,
    -40vw 31vh 0px 1px #ffdf00, 35vw -36vh 1px 1px #ffdf00,
    16vw 49vh 0px 0px #ffdf00, 6vw 39vh 0px 0px #ffdf00,
    3vw -35vh 0px 1px #ffdf00, -44vw -2vh 1px 0px #ffdf00,
    -6vw 21vh 1px 0px #ffdf00, 48vw 9vh 1px 1px #ffdf00,
    -43vw 30vh 1px 1px #ffdf00, 29vw -12vh 1px 1px #ffdf00,
    -48vw 13vh 1px 0px #ffdf00, -42vw 32vh 1px 1px #ffdf00,
    34vw 15vh 1px 1px #ffdf00, 29vw -37vh 1px 1px #ffdf00,
    28vw 2vh 0px 0px #ffdf00;
  animation: zoom 10s alternate infinite;
}
#footer {
  background-color: white;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
