.indexBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcBox {
  margin: 15px;
  padding: 15px;
  font-size: large;
  /* display: inline-block; */
  width: fit-content;
  block-size: fit-content;
  text-align: center;
  border: solid whitesmoke 5px;
  color: 	#2F4F4F;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.graphicBox {
  margin: 15px;
  padding: 15px;
  border: solid silver 5px;
  display: inline-block;
  /* position: relative; */
}

.outFlightBox {
  margin: 15px;
  padding: 15px;
  display: flex inline;
  float: left;
  border: solid whitesmoke 5px;
  color: 	#2F4F4F;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.someElseBox {
  margin: 15px;
  padding: 15px;
  display: flex inline;
  float: right;
  border: solid whitesmoke 5px;
  color: 	#2F4F4F;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.someElseBox:hover {
  /* background-color: darkgray; */
  color: silver;
}

.outFlightBox:hover {
  /* background-color: darkgray; */
  color: silver;
}

.welcBox:hover {
  /* background-color: darkgray; */
  color: silver;
}

/* --- Robs Styling --- */


.container {
  padding: 0 2rem;
  background-color: #f7f3ee;
}
.users{
  background-color: rgb(162, 158, 158);
}
.destination{
  background-color: aquamarine;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 238, 238);
} 
.departing-soon * {
  background-color: aqua;
}
.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #d63c3c;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.departingSoon{
  background-color: chocolate;
}
.code {
  background: red;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 10px;
  padding: 10px;
  text-align: left;
  color: #2F4F4F;
  text-decoration: none;
  border: solid whitesmoke 5px;
  border-radius: 10px;
  /* transition: color 0.15s ease, border-color 0.15s ease; */
  max-width: 300px;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.card:hover,
.card:focus,
.card:active {
  color: silver;
  /* border-color: #0070f3; */
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.sizingBox{
  width: 350px;
  height: 330px;
  border-radius: 15px;
}
.btnStyle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: 	#2F4F4F;
  /* background-color: rgb(198, 188, 188); */
  border-radius: 15px;
  border: solid whitesmoke 5px;
  margin: 15px;
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.btnStyle:hover{
  background-color: blue;
  color: silver;
 }
 .boxInput{
  height: 200px;
 }

/* boarding pass  */



